<div class="container">
    <a href="/client/creator" class="waves-effect waves-light btn"><i class="material-icons left">add</i>add client</a>
    <table class="centered">
        <thead>
          <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Balance</th>
              <th>Company</th>
              <th>Phone</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let client of clientListData">
            <td>{{ client.name }}</td>
            <td>{{ client.age }}</td>
            <td>{{ client.balance | currency }}</td>
            <td>{{ client.company }}</td>
            <td>{{ client.phone }}</td>
            <td>
              <a  href="client/editor/{{client._id}}" class="waves-effect waves-light btn"><i class="material-icons right">edit</i></a>
            </td>
          </tr>
        </tbody>
      </table>
</div>
